<!-- {% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block main %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New You Solutions</title>
    <link rel="stylesheet" href="internaltional.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='imgs/small-logo.png')}}" type="image/x-icon">
    </head>
    <body>
    <header>
        <div class="navbar">
            <div class="nav-logo">
                <img src="logo.png" alt="Logo">
            </div>
            <ul class="nav-items">
                <li class="nav-item">
                    <a href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a href="#connect">Connect</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="image-container">
            <img src="t2.jpg" alt="Main Image">
        </div>
        <div class="container">
            <div class="card">
                <img src="t.jpg" alt="Education Counselling">
                <h3>Education Counselling</h3>
                <p>Our Education Counsellors will learn about your career aspirations, lifestyle and study goals so that we can offer tailored advice.</p>
                <a href="#" class="learn-more-btn">Learn More</a>
                <img src="icon1.png" alt="NYS" class="icon">
            </div>
            <div class="card">
                <img src="t.jpg" alt="Application Process">
                <h3>Application Process</h3>
                <p>Our counsellor will assist you in shortlisting and applying to the institutions and courses in which you are eligible to apply.</p>
                <a href="#" class="learn-more-btn">Learn More</a>
                <img src="icon2.png" alt="NYS" class="icon">
            </div>
            <div class="card">
                <img src="t.jpg" alt="Scholarship Guidance">
                <h3>Scholarship Guidance</h3>
                <p>There are a wide variety of scholarships available across many of our partner institutions. Our education consultants can help find the right one for you.</p>
                <a href="#" class="learn-more-btn">Learn More</a>
                <img src="icon3.png" alt="NYS" class="icon">
            </div>
            <div class="card">
                <img src="t.jpg" alt="Visa Application">
                <h3>Visa Application</h3>
                <p>We've got years of experience handling every type of visa. Our visa experts will guide and support you throughout the entire visa application process.</p>
                <a href="#" class="learn-more-btn">Learn More</a>
                <img src="icon4.png" alt="NYS" class="icon">
            </div>
            <div class="card">
                <img src="t.jpg" alt="Student Health Insurance">
                <h3>Student Health Insurance</h3>
                <p>From finding the best health cover policies to ensuring the insurance benefits for you, we have got you covered.</p>
                <a href="#" class="learn-more-btn">Learn More</a>
                <img src="icon5.png" alt="NYS" class="icon">
            </div>
            <div class="card">
                <img src="t.jpg" alt="Student Accommodation">
                <h3>Student Accommodation</h3>
                <p>Explore one of the world's largest student accommodation portals to plan your study abroad accommodations cost-effectively.</p>
                <a href="#" class="learn-more-btn">Learn More</a>
                <img src="icon6.png" alt="NYS" class="icon">
            </div>
        </div>
        <a href="https://wa.me/9632213760?text=Welcome%20to%20New%20You%20Solutions!%20How%20can%20we%20assist%20you%3F" class="whatsapp-icon" target="_welcome"><i class="fab fa-whatsapp"></i></a>
    </main>
    <footer>
        <p>&copy; 2024 New You Solutions. All rights reserved.</p>
        <p>123 Education Lane, Knowledge City, Country</p>
        <p>Email: info@newyousolutions.com | Phone: (123) 456-7890</p>
    </footer>
    <button id="backToTopButton">
        <i class="fa-solid fa-caret-up icon"></i>
    </button>
    <script src="internaltional.js">
    </script>
    <!--{% endblock %}-->
</body>
</html>
